<html>
<head>
<title>Shenzhen Worship</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />     
<meta name="apple-mobile-web-app-capable" content="yes" />    
<meta name="format-detection" content="telephone=no" />
<link rel="stylesheet" type="text/css" href="{{ static_url('css/stylesheet.css') }}"/>
</head>
<body id='bg'>
<h2>Sunday Worship</h2>
	<table border = "1">
		<tr>
			<th>Date</th>
			<th>Title</th>
			<th>Update Time</th>
		</tr>
		{%for record in records%}
		<tr>
			<td>{{escape(record['date'])}}</td>
			<td><a target="_blank" href="/entry/{{(record['id'])}}">{{escape(record['title'])}}</a></td>
			<td>{{escape(record['create_time'])}}</td>
		</tr>
		{%end%}
	</table>
</body>
</html>
