<html>
<head>
<title>Shenzhen Worship</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />     
<meta name="apple-mobile-web-app-capable" content="yes" />    
<meta name="format-detection" content="telephone=no" />
<link rel="stylesheet" type="text/css" href="{{ static_url('css/stylesheet.css') }}"/>
<link rel="shortcut icon" href="{{ static_url('favicon.ico') }}"/>
<link rel="bookmark" href="{{ static_url('favicon.ico') }}"/>
</head>
<body id='bg'>
<div id="preloadedImages"></div>
<div id='header'>
<div id='logo_div'>
<img id='logo' src="{{ static_url('logo/logo_3.png') }}" alt="logo">
</div>
<h1>Shenzhen Worship</h1>
</div>
<div id='address'>
<h3>
	Address - Nanshan Church: 2239 Nanhai Ave. New Energy Bldg. B, 3rd Floor (Sunday 2pm)
</h3>
<h3>
	Address - Meilin Church: 126 Meilin Rd, 2nd Floor chapel (Sunday 7pm)
</h3>
</div>
<div id='list'>
	<table border = "1">
		<tr>
			<th>Date</th>
			<th>Title</th>
			<th>Update Time</th>
		</tr>
		{%for record in records%}
		<tr>
			<td>{{escape(record['date'])}}</td>
			<td><a target="_blank" href="/entry/{{(record['id'])}}">{{record['title']}}</a></td>
			<td>{{escape(record['create_time'])}}</td>
		</tr>
		{%end%}
	</table>
</div>
</body>
</html>
