<!DOCTYPE html>
<html>
<head><title>Sunday Worship</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />     
<meta name="apple-mobile-web-app-capable" content="yes" />    
<meta name="format-detection" content="telephone=no" />
<link rel="stylesheet" type="text/css" href="{{ static_url('css/stylesheet.css') }}"/>
<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js""></script>

<script>
$(document).ready(function() {
	$('#txt_script').load("{{static_url(record['text_link'])}}");
})
</script>


<link rel="shortcut icon" href="{{ static_url('favicon.ico') }}"/>
<link rel="bookmark" href="{{ static_url('favicon.ico') }}"/>
</head>
<body id='bg'>
<h2>Sunday Worship</h2>
	<ul>
	<li>Date: {{record['date']}}</li>
	<li>Title: {{record['title']}}</li>
	<li>Audio: {% if record['xmly_link'] == '' %} No audio this week {% else %}<a target="_blank" href={{escape(record['xmly_link'])}}>Listen to The Audio</a>{% end %}</li>
	<!--
	<li>Audio: 
		<audio src="{{ static_url(record['record_link']) }}" controls="controls">
		Your browser does not support the audio tag.
		</audio>
	</li>
	-->
	<!--
	<li>Script: {% if record['text_link'] == '' %} No script this week {% else %} <a target="_blank" href={{ static_url(record['text_link']) }}>View The Script</a>{% end %}</li>
	-->
	
	<li>Bulletin: {% if record['leaflet_link'] == '' %} No bulletin this week {% else %} <a target="_blank" href={{ static_url(record['leaflet_link']) }}>View The Bulletin</a>{% end %}</li>
	
	<li>PPT: {% if record['ppt_link'] == '' %} No ppt this week {% else %}<a target="_blank" href={{ static_url(record['ppt_link']) }}>View The PPT</a> {% end %} </li>
	</ul>
	<br/>
	<div>
	<p>Bible Readings: </p>
	<p>
	<p id="txt_script">
<!--
<embed src="{{static_url(record['text_link'])}}" height=100% width = 100%>		
-->
	</p>
	</div>
</body>
</html>
