#bg {
	background-color: #FFF5EE;
}

@media only screen and (max-width:449px){

}

#header {
	position: relative;
	white-space: nowrap;
}

#logo {
	vertical-align: baseline;
	height: 100px;
	margin-right: 20px;
	margin-left: 20px;
}


#list {
	clear: left;
	position: relative;
}