#bg {
	background-color: #FFF5EE;
}

@media only screen and (max-width:449px){

}

#preloadedImages {
       width: 0px;
       height: 0px;
       display: inline;
       background-image: url("{{ static_url('logo/logo_3.png') }}");
}

#header {
	position: relative;
	
	margin-bottom: 10px;
}

#logo_div {
	height: 90px;
	width: 90px;
	display: inline-block;
	padding: 10px;
	margin: 5px;
	box-shadow: -2px -2px 2px #efefef, 5px 5px 5px #b9b9b9;
}

#logo {
	height: 90px;
	margin-left: 8px;
	margin-right: 8px;
}

h1 {
	display: inline-block;
	font-size: 1.8em;
}

#list {
	clear: left;
	position: relative;
}