#bg {
	background-color: #FFF5EE;
}

@media only screen and (max-width:449px){

}

#header {
	position: relative;
	width: auto;
}

#logo {
	vertical-align: baseline;
	height: 90px;
	margin-right: 20px;
	margin-left: 10px;
	background: url("{{ static_url('logo/logo_3.png') }}") no-repeat -9999px -9999px;
}

h1 {
	font-size: 1.8em;
}

#list {
	clear: left;
	position: relative;
}