<html>
<head><title>Create New</title></head>
<body>
<h2>Create New Entry</h2>
		<form action='/admin/create_new' enctype="multipart/form-data" method='post'>
		<p>Worship Date:</p>
		<input type='date' name='date'/><br/><br/>
		<p>Theme for the Week:</p>
		<input type='text' name='title'/><br/><br/>
		<p>Audio link:</p>
		<input type='text' name='xmly'/><br/><br/>
		<p>Audio file:</p>
		<input type='file' name='record'/><br/><br/>
		<p>Script file (txt):</p>
		<input type='file' name='text'/><br/><br/>
		<p>Leaflet file:</p>
		<input type='file' name='leaflet'/><br/><br/>
		<p>PPT file:</p>
		<input type='file' name='ppt'/><br/><br/>
		<br/><br/>
		<input type='submit' value='submit'/>
		</form><br/>
</body>
</html>